body {
  background-color: #fef6eb;
}

.navbar-nav.mr-auto{
  padding-top:30px;
  width: 100% !important;
}

.navbar-nav.mr-auto li {
  width: 25%;
  text-align: center;
}

.navbar-brand {
  padding-left: 125px;
  padding-top:20px;
}

.navbar-nav.mr-auto li a {
  color: #fef6eb 
}

section img {
  margin-top: 90px;
  margin-bottom: 30px;
  height: 100%;
  display: block;  
}

#root > div {
  height: 100%;
}

.img-responsive {
  width: 100%;
}

footer {
  padding-top: 7px;
}